body {
  height: 100%;
  background: linear-gradient(to bottom right, #56d0fd, #56fd7d);
  background-repeat: no-repeat;
}

img {
  height: 100px;
  width: 100px;
}

.badge {
  background: #70978f;
}

input[type="range"]::-webkit-slider-thumb {
  background: #70978f;
}
